@font-face {
    font-family: 'Bricolage Grotesque';
    src:
        url("BricolageGrotesque_24pt-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


/* Bricolage Grotesque - Bold */
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('BricolageGrotesque_24pt-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


/* Bricolage Grotesque - Bold */
@font-face {
    font-family: 'Bricolage Grotesque';
    src: url('BricolageGrotesque_24pt-ExtraBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}