{% extends './partials/layout1.html' %}

{% block headerLogo %}
    <img src="/static/img/logo-blue-dark.png" alt="Masco" width="109" height="24" />
{% endblock headerLogo%}

{% block bgCustom %}
bg-white
{% endblock %}

{% block headButtons %}

<div class="flex items-center gap-6">
    <a href="/contact" class="btn is-blue btn-animation group hidden rounded-[3px] sm:inline-block"><span>Contact Us</span></a>
    <!-- Responsive Offcanvas Menu Button -->
    <div class="block lg:hidden">
        <button id="openBtn" class="hamburger-menu mobile-menu-trigger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>

{% endblock headButtons %}



{% block content %}

 <!-- Hero Section Start -->
 <section class="section-hero">
    <div class="relative z-10">
        <!-- Hero Space -->
        <div class="pb-[60px] pt-[105px] sm:pt-[145px] md:pb-20 lg:pb-[100px] lg:pt-[185px]">
            <!-- Hero Container -->
            <div class="container-default relative">
                <!-- Hero Area -->
                <div class="relative">
                    <!-- Hero Content Block -->
                    <div class="text-center">
                        <div class="jos mx-auto mb-6 max-w-[900px]">
                            <h1 class="mb-6 font-GeneralSans font-semibold leading-[1.04] text-ColorBlack lg:text-6xl xl:text-[76px] xxl:text-[90px]">
                                Money Without Borders.  
                                <span class="relative inline-block z-10 after:absolute after:left-1/2 after:top-1/2 after:-z-10 after:h-4/5 after:w-[106%] after:-translate-x-1/2 after:-translate-y-1/2 after:rounded-[5px] after:bg-[#BEF8FC] after:px-4">Seamless!</span>
                            </h1>
                        </div>
                        <div class="jos mx-auto mb-8 max-w-[750px] lg:mb-[50px]">
                            <p class="mb-8">
                               Send, receive, swap, and spend money like it’s nothing—no matter where you are. From Lagos to Nairobi, Accra to Kenya—Paysita got you.
                            </p>
                        </div>
                        <div class="mb-10 flex flex-wrap justify-center gap-5 lg:mb-[60xp] xl:mb-20">
                            <a href="/teams" class="btn is-blue btn-animation is-large group inline-block rounded-[3px]"><span>Get Started</span></a>
                            <a data-fslightbox="gallery" href="https://www.youtube.com" class="btn is-outline-black btn-animation is-large group inline-block rounded-[3px]" aria-label="video-play"><span><i class="fa-solid fa-circle-play fa-fw mr-[10px]"></i>Learn How It Works</span></a>
                        </div>
                    </div>
                    <!-- Hero Content Block -->

                    <!-- Hero Image Block -->
                    <div class="relative mx-auto max-w-[1076px]">
                        <img src="/static/img/home 1076x550 copy.png" alt="hero-dashboard" width="1076" height="550" data-jos_animation="zoom-in-down" />
                    </div>
                    <!-- Hero Image Block -->
                </div>
                <!-- Hero Area -->

                <!-- Hero Background Icon - 1 -->
                <div class="absolute left-0 top-1/3 -z-10 hidden md:inline-block">
                    <img src="/static/img/icons/icon-blue-service-1.svg" alt="icon-black-mail-close" width="74" height="67" />
                </div>
                <!-- Hero Background Icon - 2 -->
                <div class="absolute right-0 top-1/4 -z-10 hidden md:inline-block">
                    <img src="/static/img/icons/icon-blue-service-1.svg" alt="icon-black-mail-close" width="74" height="67" />
                </div>
                <!-- Hero Background Icon - 3 -->
                <div class="absolute bottom-[60px] right-0 -z-10 hidden md:inline-block">
                    <img src="/static/img/icons/icon-blue-service-1.svg" alt="icon-black-mail-close" width="50" height="63" />
                </div>
            </div>
            <!-- Hero Container -->
        </div>
        <!-- Hero Space -->
    </div>
</section>
<!-- Hero Section End -->

<!-- Brand Section Start -->
<div class="section-brand">
    <div class="jos">
        <!-- Section Space -->
        <div class="pb-[60px] md:pb-20 lg:pb-[100px]">
            <!-- Section Container -->
            <div class="container-default">
                <div class="mx-auto mb-10 max-w-[80%] text-center text-xl font-semibold leading-[1.4] opacity-70 md:mb-16 lg:mb-20 lg:max-w-2xl">
                    Trusted by the most innovative companies worldwide
                </div>
                <!-- Brand Slider -->
                <div class="swiper brand-slider-2">
                    <!-- Additional required wrapper -->
                    <div class="swiper-wrapper">
                        <!-- Slides -->
                        <div class="swiper-slide">
                            <img src="/static/img/th-6/brand-1.png" alt="brand-1" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/th-6/brand-2.png" alt="brand-2" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/th-6/brand-3.png" alt="brand-3" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/th-6/brand-4.png" alt="brand-4" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/th-6/brand-5.jpg" alt="brand-5" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/th-6/brand-6.png" alt="brand-5" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide">
                            <img src="/static/img/th-6/brand-1.png" alt="brand-1" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide flex justify-center items-center min-h-[60px]">
                            <img src="/static/img/th-6/brand-2.png" alt="brand-2" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide flex justify-center items-center min-h-[60px]">
                            <img src="/static/img/th-6/brand-3.png" alt="brand-3" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide flex justify-center items-center min-h-[60px]">
                            <img src="/static/img/th-6/brand-4.png" alt="brand-4" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide flex justify-center items-center min-h-[60px]">
                            <img src="/static/img/th-6/brand-5.jpg" alt="brand-5" width="186" height="46" class="h-auto w-fit" />
                        </div>
                        <div class="swiper-slide flex justify-center items-center min-h-[60px]">
                            <img src="/static/img/th-6/brand-6.png" alt="brand-5" width="186" height="46" class="h-auto w-fit" />
                        </div>
                    </div>
                </div>
                <!-- Brand Slider -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </div>
</div>
<!-- Brand Section End -->

<!-- Process Section Start -->
<section class="section-process">
    <!-- Section Background -->
    <div class="bg-[#0A102F]">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container-default">
                <!-- Section Content Wrapper -->
                <div class="jos mb-[60px] xl:mb-20">
                    <!-- Section Content Block -->
                    <div class="mx-auto max-w-[636px]">
                        <h2 class="text-center font-GeneralSans font-semibold text-white">
                            From Africa to the World: Scalable Payment Solutions
                        </h2>
                    </div>
                    <!-- Section Content Block -->
                </div>
                <!-- Section Content Wrapper -->

                 <!-- Content Area Single -->
                 <div class="grid items-center gap-10 lg:grid-cols-2 lg:gap-20 xl:grid-cols-[1fr_minmax(0,_1.1fr)] xl:gap-[100px]">
                    <!-- Content Block Left -->
                    <div class="jos lg:order-2" data-jos_animation="fade-left">
                        <!-- Section Wrapper -->
                        <div>
                            <!-- Section Block -->
                            <div class="mb-5">
                                <h2 class="font-GeneralSans font-semibold text-white/80">
                                    Paysita delivers fast, secure, and scalable transactions across borders.
                                </h2>
                            </div>
                            <!-- Section Block -->
                        </div>
                        <!-- Section Wrapper -->
                        <p class="text-white/80" >
                            We are crafting Africa’s financial gateway to the world. Designed to meet the diverse needs of emerging markets while standing shoulder to shoulder with global standards, Paysita delivers fast, secure, and intelligent bill payment solutions that scale with you.
                        </p>
                        <!-- Horizontal Line Separator -->
                        <div class="my-7 h-px w-full bg-ColorBlack opacity-10 xl:my-10 xxl:my-14"></div>
                        <div class="mt-12 flex flex-col gap-10 sm:flex-row sm:gap-[50px]">
                            <div>
                                <div class="font-GeneralSans text-[66px] font-semibold leading-[0.9] text-ColorBlue" data-module="countup">
                                    <span class="start-number" data-countup-number="99">99</span>%
                                </div>
                                <span class="text-white/80"> Payment Success Rate</span>
                            </div>
                            <div>
                                <div class="font-GeneralSans text-[66px] font-semibold leading-[0.9] text-ColorBlue" data-module="countup">
                                    <span class="start-number" data-countup-number="50000">50000</span>+
                                </div>
                                <span class="text-white/80">Successful Transactions Generated</span>
                            </div>
                        </div>
                    </div>
                    <!-- Content Block Left -->
                    <!-- Content Block Right -->
                    <div class="jos relative z-10 lg:order-1" data-jos_animation="fade-right">
                        <!-- Content Image -->
                        <img src="/static/img/home2 561x501.png" alt="content-img-1" width="561" height="501" class="h-auto w-auto rounded-[5px]" />
                   </div>
                    <!-- Content Block Right -->
                </div>
                <!-- Content Area Single -->

               
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </div>
    <!-- Section Background -->
</section>
<!-- Process Section End -->

<!-- Content Section Start -->
<section class="section-content">
    <!-- Section Spacer -->
    <div class="section-space">
        <!-- Section Container -->
        <div class="container-custom">
            <div class="flex flex-col gap-y-20 lg:gap-y-[100px] xl:gap-y-[120px]">
               
                <!-- Content Area Single -->
                <div class="grid items-center gap-10 lg:grid-cols-2 lg:gap-20 xl:grid-cols-[1.1fr_minmax(0,_1fr)] xl:gap-[100px]">
                    <!-- Content Block Left -->
                    <div class="jos" data-jos_animation="fade-left">
                        <!-- Section Wrapper -->
                        <div>
                            <!-- Section Block -->
                            <div class="mb-5">
                                <h2 class="font-GeneralSans font-semibold">
                                    
                                    Borderless Transactions Made for You
                                </h2>
                            </div>
                            <!-- Section Block -->
                        </div>
                        <!-- Section Wrapper -->
                        <p>
                           Whether you're hustling remotely or sending jollof money to family, we make it fast, affordable, and seamless.
                        </p>
                        <div class="mt-12 flex flex-col gap-10 sm:flex-row sm:gap-[50px]">
                            <ul class="flex flex-col gap-y-5">
                                <li>
                                    <div class="mb-4 font-GeneralSans text-xl text-ColorBlack lg:text-2xl">
                                        <span class="mr-[5px] text-ColorBlue"><i class="fa-solid fa-badge-check"></i></span>
                                        Send money to family abroad
                                    </div>
                                   
                                </li>
                                <li>
                                    <div class="mb-4 font-GeneralSans text-xl text-ColorBlack lg:text-2xl">
                                        <span class="mr-[5px] text-ColorBlue"><i class="fa-solid fa-badge-check"></i></span>
                                        Swap currencies in seconds
                                    </div>
                                   
                                </li>
                                <li>
                                    <div class="mb-4 font-GeneralSans text-xl text-ColorBlack lg:text-2xl">
                                        <span class="mr-[5px] text-ColorBlue"><i class="fa-solid fa-badge-check"></i></span>
                                        Convert airtime to cash
                                    </div>
                                    
                                </li>
                                <li>
                                    <div class="mb-4 font-GeneralSans text-xl text-ColorBlack lg:text-2xl">
                                        <span class="mr-[5px] text-ColorBlue"><i class="fa-solid fa-badge-check"></i></span>
                                        Pay bills from anywhere
                                    </div>
                                   
                                </li>
                                <li>
                                    <div class="mb-4 font-GeneralSans text-xl text-ColorBlack lg:text-2xl">
                                        <span class="mr-[5px] text-ColorBlue"><i class="fa-solid fa-badge-check"></i></span>
                                        Use your dollar card like a boss
                                    </div>
                                   
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Content Block Left -->
                    <!-- Content Block Right -->
                    <div class="jos relative z-10" data-jos_animation="fade-right">
                        <!-- Content Image -->
                        <img src="/static/img/home 561x501.png" alt="content-img-2" width="561" height="501" class="h-auto w-auto rounded-[5px]" />
                        </div>
                    <!-- Content Block Right -->
                </div>
                <!-- Content Area Single -->
            </div>
        </div>
        <!-- Section Container -->
    </div>
    <!-- Section Spacer -->
</section>
<!-- Content Section End -->


<!-- Integrate Section Start -->
<section class="section-interaction">
    <!-- Section Space -->
    <div class="section-space">
        <!-- Section Container -->
        <div class="container-default">
            <!-- Section Wrapper -->
            <div class="jos mb-[60px] flex flex-wrap items-end justify-between gap-8 xl:mb-20">
                <!-- Section Block -->
                <div class="max-w-[600px]">
                    <h2 class="font-GeneralSans font-semibold">
                        
                        Built for Businesses That Think Global
                    </h2>
                </div>
                <!-- Section Block -->
                <a href="#" class="btn is-blue btn-animation is-large group rounded-[5px]"><span>Download Paysita!</span></a>
            </div>
            <!-- Section Wrapper -->

            <!-- Integration Slider Area -->
            <div>
                <!-- Integration Wrapper -->
                <div class="flex flex-row flex-nowrap py-5">
                    <!-- Integration Content -->
                    <div class="horizontal-slide-from-right-to-left mx-3 grid grid-flow-col gap-x-6 whitespace-nowrap">
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/9Mobile-Telecom-Logo-1200x1200.jpg" alt="icon-color-zoom" width="60" height="60" />
                            </div>
                            9Mobile
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/airtel-nigeria-icon-1771x2048-5jjwx891.png" alt="icon-color-t" width="52" height="59" />
                            </div>
                            Airtel
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/mtn-new-logo.svg" alt="icon-color-gmail" width="57" height="58" />
                            </div>
                            MTN
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/globacom-limited-icon-512x512-nsbqgsyf.png" alt="icon-color-whatsapp" width="60" height="61" />
                            </div>
                            GLO
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/DStv-logo.jpg" alt="icon-color-figma" width="60" height="60" />
                            </div>
                            DSTV
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/gotv-nigeria-logo-vector.png" alt="icon-color-dropbox" width="61" height="61" />
                            </div>
                            GOTV
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/startimes-logo-png_seeklogo-354934.png" alt="icon-color-mailchimp" width="65" height="65" />
                            </div>
                            Startimes
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/neco-logo.df6f9256.png" alt="icon-color-skype" width="60" height="60" />
                            </div>
                            NECO
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/waec-logo.webp" alt="icon-color-discord" width="60" height="60" />
                            </div>
                            WAEC
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/smile-communications-logo-png_seeklogo-556344.png" alt="icon-color-snapchat" width="60" height="60" />
                            </div>
                            Smile
                        </div>
                        <!-- Integration Tag -->
                    </div>
                    <!-- Integration Content -->
                </div>
                <!-- Integration Wrapper -->
                <!-- Integration Wrapper -->
                <div class="flex flex-row flex-nowrap py-5">
                    <!-- Integration Content -->
                    <div class="horizontal-slide-from-left-to-right mx-3 grid grid-flow-col gap-x-6 whitespace-nowrap">
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/APLE-Logo.png" alt="icon-color-zoom" width="60" height="60" />
                            </div>
                            Aba Power
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/Bet9ja-500x500_dark.png" alt="icon-color-t" width="52" height="59" />
                            </div>
                            Bet9ja
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/Betway-logo-oranage-texts.png" alt="icon-color-gmail" width="57" height="58" />
                            </div>
                            Betway
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/ibpay.png" alt="icon-color-whatsapp" width="60" height="61" />
                            </div>
                            IBEDC
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/images.jpeg" alt="icon-color-shopify" width="60" height="60" />
                            </div>
                            Ikeja Electric
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/gotv-nigeria-logo-vector.png" alt="icon-color-dropbox" width="61" height="61" />
                            </div>
                            GOTV
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/startimes-logo-png_seeklogo-354934.png" alt="icon-color-mailchimp" width="65" height="65" />
                            </div>
                            Startimes
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/neco-logo.df6f9256.png" alt="icon-color-skype" width="60" height="60" />
                            </div>
                            NECO
                        </div>
                        <!-- Integration Tag -->
                        <!-- Integration Tag -->
                        <div class="flex items-center gap-x-4 rounded-[5px] border border-[#EAEDF0] py-[10px] pl-[10px] pr-[30px] font-GeneralSans text-2xl font-semibold leading-[1.16] text-ColorBlack">
                            <div class="h-auto w-[60px]">
                                <img src="/static/img/socials/waec-logo.webp" alt="icon-color-discord" width="60" height="60" />
                            </div>
                            WAEC
                        </div>
                        <!-- Integration Tag -->
                    </div>
                    <!-- Integration Content -->
                </div>
                <!-- Integration Wrapper -->
            </div>
            <!-- Integration Slider Area -->
        </div>
        <!-- Section Container -->
    </div>
    <!-- Section Space -->
</section>
<!-- Integrate Section End -->

<!-- Testimonial Section Start -->
<section class="section-testimonial">
    <!-- Section Background -->
    <div class="bg-[#FAFAFA]">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container-default">
                <!-- Section Content Wrapper -->
                <div class="jos mb-[60px] xl:mb-20">
                    <!-- Section Content Block -->
                    <div class="mx-auto max-w-[636px]">
                        <h2 class="text-center font-GeneralSans font-semibold">
                            Our clients have shared their experiences using paysita
                        </h2>
                    </div>
                    <!-- Section Content Block -->
                </div>
                <!-- Section Content Wrapper -->

                <!-- Testimonial List -->
                <div class="break-inside-auto gap-6 md:columns-2 lg:columns-3">
                    <!-- Testimonial Item -->
                    <div class="jos mb-6 break-inside-avoid">
                        <div class="flex flex-col rounded-[10px] bg-white p-6 text-ColorBlack sm:p-[30px]">
                            <!-- Review Star -->
                            <div class="mb-5 flex gap-[5px] text-2xl text-[#00B67A] lg:mb-[30px]">
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                            </div>
                           
                            <p class="mb-6">
                               Converted my airtime to cash in minutes. No stress, no drama.
                            </p>
                            <div class="flex items-center gap-4">
                               
                                <div>
                                    <span class="block font-semibold">Ada</span>
                                    <span class="text-sm text-opacity-80">Lagos, Nigeria</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <div class="jos mb-6 break-inside-avoid">
                        <div class="flex flex-col rounded-[10px] bg-white p-6 text-ColorBlack sm:p-[30px]">
                            <!-- Review Star -->
                            <div class="mb-5 flex gap-[5px] text-2xl text-[#00B67A] lg:mb-[30px]">
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                            </div>
                           
                            <p class="mb-6">
                                Used my Paysita card in Dubai. Worked like magic!
                            </p>
                            <div class="flex items-center gap-4">
                               
                                <div>
                                    <span class="block font-semibold">Collins</span>
                                    <span class="text-sm text-opacity-80">Abuja, Nigeria</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <div class="jos mb-6 break-inside-avoid">
                        <div class="flex flex-col rounded-[10px] bg-white p-6 text-ColorBlack sm:p-[30px]">
                            <!-- Review Star -->
                            <div class="mb-5 flex gap-[5px] text-2xl text-[#00B67A] lg:mb-[30px]">
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                            </div>
                           
                            <p class="mb-6">
                                I send money to my parents in Ghana without wahala. Fast and cheap.
                            </p>
                            <div class="flex items-center gap-4">
                               
                                <div>
                                    <span class="block font-semibold">Aisha</span>
                                    <span class="text-sm text-opacity-80">Nairobi, Kenya</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <div class="jos mb-6 break-inside-avoid">
                        <div class="flex flex-col rounded-[10px] bg-white p-6 text-ColorBlack sm:p-[30px]">
                            <!-- Review Star -->
                            <div class="mb-5 flex gap-[5px] text-2xl text-[#00B67A] lg:mb-[30px]">
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                            </div>
                           
                            <p class="mb-6">
                               Paysita is clutch! Helps me pay my DSTV and light bill from anywhere.
                            </p>
                            <div class="flex items-center gap-4">
                                
                                <div>
                                    <span class="block font-semibold">Temi</span>
                                    <span class="text-sm text-opacity-80">Ibadan, Nigeria</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <div class="jos mb-6 break-inside-avoid">
                        <div class="flex flex-col rounded-[10px] bg-white p-6 text-ColorBlack sm:p-[30px]">
                            <!-- Review Star -->
                            <div class="mb-5 flex gap-[5px] text-2xl text-[#00B67A] lg:mb-[30px]">
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                            </div>
                           
                            <p class="mb-6">
                                Freelancing from Kenya and getting paid in USD has never been easier.
                            </p>
                            <div class="flex items-center gap-4">
                               
                                <div>
                                    <span class="block font-semibold">Brian</span>
                                    <span class="text-sm text-opacity-80">Mombasa, Kenya</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial Item -->
                    <div class="jos mb-6 break-inside-avoid">
                        <div class="flex flex-col rounded-[10px] bg-white p-6 text-ColorBlack sm:p-[30px]">
                            <!-- Review Star -->
                            <div class="mb-5 flex gap-[5px] text-2xl text-[#00B67A] lg:mb-[30px]">
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                                <img src="/static/img/icons/icon-green-star.svg" alt="icon-green-star" width="26" height="24" />
                            </div>
                           
                            <p class="mb-6">
                               My business in Onitsha now takes payments from clients in the UK. Paysita made it happen.
                            </p>
                            <div class="flex items-center gap-4">
                              
                                <div>
                                    <span class="block font-semibold">Uzo</span>
                                    <span class="text-sm text-opacity-80">Onitsha, Nigeria</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial Item -->
                    <!-- Testimonial List -->
                </div>

                <div class="jos flex justify-center">
                    <a href="" class="btn is-blue btn-animation is-large mt-10 inline-block rounded lg:mt-20"><span>Read all the reviews on
                            <strong class="underline underline-offset-4">Medium.com</strong></span></a>
                </div>
                <!-- Section Container -->
            </div>
            <!-- Section Space -->
        </div>
    </div>
    <!-- Section Background -->
</section>
<!-- Testimonial Section End -->

<!-- FAQ Section Start -->
<section class="section-faq">
    <div class="realative">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container-default">
                <!-- FAQ Area -->
                <div class="grid items-center gap-x-6 gap-y-10 lg:grid-cols-2">
                    <!-- Content Block -->
                    <div class="jos" data-jos_animation="fade-right">
                        <!-- Section Wrapper -->
                        <div>
                            <!-- Section Block -->
                            <div class="mb-5">
                                <h2 class="font-GeneralSans font-semibold">
                                    Need Help? Our FAQs and Knowledge Base Have You Covered
                                </h2>
                            </div>
                            <!-- Section Block -->
                        </div>
                        <!-- Section Wrapper -->
                        <p>
                            Before reaching out, explore our comprehensive FAQs and knowledge base. You might find the answers you need in seconds—no waiting required.
                        </p>
                    </div>
                    <!-- Content Block -->

                    <!-- FAQ Block -->
                    <div class="jos flex justify-center" data-jos_animation="fade-left">
                        <!-- Accordion List -->
                        <ul class="mx-auto">
                            <!-- Accordion Item -->
                            <li class="accordion-item active border-b border-ColorBlack/10 pb-6 last:border-b-0 has-[.accordion-header]:pt-6 first:has-[.accordion-header]:pt-0">
                                <!-- Accordion Header -->
                                <div class="accordion-header relative pr-8 font-GeneralSans text-xl font-semibold text-ColorBlack">
                                    <button class="flex-1 text-left">
                                        <span class="mr-[10px] inline-block text-ColorBlue"><i class="fa-solid fa-circle-question"></i></span>
                                        Is Paysita safe to use?
                                    </button>
                                    <div class="accordion-icon-3 absolute right-0 top-0">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <!-- Accordion Header -->
                                <!-- Accordion Body -->
                                <div class="accordion-body opacity-80">
                                    <p class="max-w-[584px] pl-[34px] pt-5 text-base">
                                       100%. We use bank-grade security and are fully compliant with regulators.
                                    </p>
                                </div>
                                <!-- Accordion Body -->
                            </li>
                            <!-- Accordion Item -->
                            <!-- Accordion Item -->
                            <li class="accordion-item border-b border-ColorBlack/10 pb-6 last:border-b-0 has-[.accordion-header]:pt-6 first:has-[.accordion-header]:pt-0">
                                <!-- Accordion Header -->
                                <div class="accordion-header relative pr-8 font-GeneralSans text-xl font-semibold text-ColorBlack">
                                    <button class="flex-1 text-left">
                                        <span class="mr-[10px] inline-block text-ColorBlue"><i class="fa-solid fa-circle-question"></i></span>
                                        Can I use Paysita outside Nigeria?
                                    </button>
                                    <div class="accordion-icon-3 absolute right-0 top-0">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <!-- Accordion Header -->
                                <!-- Accordion Body -->
                                <div class="accordion-body opacity-80">
                                    <p class="max-w-[584px] pl-[34px] pt-5 text-base">
                                        Yes! Paysita is built for global Africans. Use it anywhere, anytime.
                                    </p>
                                </div>
                                <!-- Accordion Body -->
                            </li>
                            <!-- Accordion Item -->
                            <!-- Accordion Item -->
                            <li class="accordion-item border-b border-ColorBlack/10 pb-6 last:border-b-0 has-[.accordion-header]:pt-6 first:has-[.accordion-header]:pt-0">
                                <!-- Accordion Header -->
                                <div class="accordion-header relative pr-8 font-GeneralSans text-xl font-semibold text-ColorBlack">
                                    <button class="flex-1 text-left">
                                        <span class="mr-[10px] inline-block text-ColorBlue"><i class="fa-solid fa-circle-question"></i></span>
                                       What currencies can I swap?
                                    </button>
                                    <div class="accordion-icon-3 absolute right-0 top-0">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <!-- Accordion Header -->
                                <!-- Accordion Body -->
                                <div class="accordion-body opacity-80">
                                    <p class="max-w-[584px] pl-[34px] pt-5 text-base">
                                        From Naira to Dollar to Yen and more. You name it—we swap it.
                                    </p>
                                </div>
                                <!-- Accordion Body -->
                            </li>
                            <!-- Accordion Item -->
                              <!-- Accordion Item -->
                            <li class="accordion-item border-b border-ColorBlack/10 pb-6 last:border-b-0 has-[.accordion-header]:pt-6 first:has-[.accordion-header]:pt-0">
                                <!-- Accordion Header -->
                                <div class="accordion-header relative pr-8 font-GeneralSans text-xl font-semibold text-ColorBlack">
                                    <button class="flex-1 text-left">
                                        <span class="mr-[10px] inline-block text-ColorBlue"><i class="fa-solid fa-circle-question"></i></span>
                                       How much are the fees?
                                    </button>
                                    <div class="accordion-icon-3 absolute right-0 top-0">
                                        <i class="fa-solid fa-plus"></i>
                                    </div>
                                </div>
                                <!-- Accordion Header -->
                                <!-- Accordion Body -->
                                <div class="accordion-body opacity-80">
                                    <p class="max-w-[584px] pl-[34px] pt-5 text-base">
                                        We keep it low. No hidden charges. You see it, you pay it.
                                    </p>
                                </div>
                                <!-- Accordion Body -->
                            </li>
                            <!-- Accordion Item -->
                        </ul>
                        <!-- Accordion List -->
                    </div>
                    <!-- FAQ Block -->
                </div>
                <!-- FAQ Area -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </div>
</section>
<!-- FAQ Section End -->

<!-- CTA Section Start -->
<section class="section-cta">
    <!-- Section Space -->
    <div class="section-space-bottom">
        <!-- Section Container -->
        <div class="container-default">
            <div class="relative z-10 rounded-[5px] bg-ColorBlue">
                <div class="py-[60px] lg:py-20 xl:py-[100px]">
                    <div class="jos mx-auto max-w-full px-8 md:max-w-[80%] lg:max-w-[670px]">
                        <h2 class="text-center font-GeneralSans font-semibold text-white">
                            Global Grade Payment Solutions, Born in Africa
                        </h2>
                        <div class="mt-8 flex flex-wrap items-center justify-center gap-5 lg:mt-[50px]">
                            <a href="#">
                                <img src="/static/img/icons/icon-apple-app-store.svg" alt="icon-apple-app-store" width="166" height="54" />
                            </a>
                            <a href="#">
                                <img src="/static/img/icons/icon-google-play-store.svg" alt="icon-google-play-store" width="166" height="57" />
                            </a>
                        </div>
                    </div>
                </div>

                <!-- Background Shape -->
                <img src="/static/img/elements/gear-shape.svg" alt="gear-shape" width="320" height="173" class="absolute right-0 top-0 -z-10 h-auto w-[25%] xl:w-auto" />
            </div>
        </div>
        <!-- Section Container -->
    </div>
    <!-- Section Space -->
</section>
<!-- CTA Section End -->

{% endblock content %}



{% block footer %}
{% include "./partials/footer/footer1.html" %}
{% endblock footer %} 