{% extends './partials/layout1.html' %}

{% block headerLogo %}
<img src="/static/img/logo-blue-dark.png" alt="Masco" width="109" height="24" />
{% endblock headerLogo%}

{% block bgCustom %}
bg-white
{% endblock %}

{% block headButtons %}

<div class="flex items-center gap-6">
    <a href="/contact" class="btn is-blue btn-animation group hidden rounded-[3px] sm:inline-block"><span>Contact Us</span></a>
    <!-- Responsive Offcanvas Menu Button -->
    <div class="block lg:hidden">
        <button id="openBtn" class="hamburger-menu mobile-menu-trigger">
            <span></span>
            <span></span>
            <span></span>
        </button>
    </div>
</div>

{% endblock headButtons %}



{% block content %}

    <!-- Breadcrumb Section Start -->
    <section class="section-breadcrumb">
        <!-- Breadcrumb Section Spacer -->
        <div class="breadcrumb-wrapper">
            <!-- Section Container -->
            <div class="container-default">
                <div class="breadcrumb-block">
                    <h1 class="breadcrumb-title">Privacy Policy</h1>
                    <ul class="breadcrumb-nav">
                        <li><a href="/">Home</a></li>
                        <li>Privacy Policy</li>
                    </ul>
                </div>
            </div>
            <!-- Section Container -->

        </div>
        <!-- Breadcrumb Section Spacer -->
    </section>
    <!-- Breadcrumb Section End -->

    <!-- Service Details Section Start -->
    <section class="section-service-details">
        <!-- Section Space -->
        <div class="section-space">
            <!-- Section Container -->
            <div class="container-default">
                <!-- Service Details Area -->
                <div class="mx-auto max-w-[1080px]">
                    <!-- Service main Image -->
                    <img src="/static/img/privacy.jpg" alt="service-main-img" class="mb-10 h-auto w-full rounded-[10px]" />
                    <!-- Service Rich Text -->
                    <div class="rich-text">
                         <p>
                            At Paysita, the privacy of our Data Subjects and their Personal Data is of utmost importance to us. And in line with our resolution, we have developed this Privacy Policy to explain your privacy rights, particularly regarding how we collect, process, retain, share and protect your Personal Data when you visit our website, premises or use our digital platforms (collectively, "the Platform" or "Services").
                        </p>
                         <p>
                            This Privacy Policy between Paysita Nigeria Limited ("Paysita") and you constitute our commitment to your continued privacy on all our platforms. It is designed to provide information regarding our privacy practices and help you understand how we handle your data, in full compliance with the provisions of the Nigeria Data Protection Act 2023 and other applicable data protection regulations.
                        </p>
<b>1. Consent</b><br>
When you access our platforms and give your consent upon such access, you accept this privacy policy;<br>
in particular, as you use the services offered on our website and digital platform or visit any of our offices and submit your data for official or non-official purposes.<br><br>

<b>2. What Personal Data do we collect?</b><br>
We collect Personal Data about you when you use the services offered on our website and digital platform, including the following:<br><br>

Sign-up information: We will require your personal details such as Full Names, first name and last name, phone number, email address, password, Date of Birth and referral code (optional)<br>
in line with regulation and in furtherance of our KYC computation processes as you use our services.<br><br>

Transaction information: When you use our digital platform to send and receive money, make purchases from merchants, pay bills, deposit & withdraw cash,<br>
we collect information about the transaction, as well as other associated information as necessary to offer and fulfil the service (like transaction receipt, account statement) that we are obliged to;<br>
such as: the amount sent or received, amount paid for products or services, merchant information – including information about your device and geolocation.<br><br>

Participant Personal Data: We collect Personal Data such as name and financial account information about the participant who is receiving money from (or sending money to) you,<br>
when you send or receive money through the Services.<br><br>

Image Information: We may collect your image (upload, storage, and use) information to support account opening, such as uploading your portrait.<br>
We may also collect information from your images when you use our customer support to upload evidence such as statements and checks.<br>
In addition, we may collect your image information in connection with regulatory KYC purposes.<br><br>

Information from other sources: We may collect information from other sources, such as our social media platforms when you reach out to us to lodge a complaint about our services.<br>
However, we will only ask for information relevant to the help required of us to you.<br>
In addition, we also indirectly collect information from NIBSS, credit bureaus, NIMC, or other third-party KYC verification service providers.<br><br>

Other information we collect related to your use of our website or Services:<br>
We may collect additional information from or about you when you communicate with us, contact our customer support teams,<br>
respond to a survey or use functionality offered by third-party service providers through our Platform.<br>
For instance, when you initiate third-party applications through Paysita mobile application, with your prior consent,<br>
your SMS may be collected and monitored to help third-party service providers reduce risks associated with your application through the relevant model/system to provide customized services.<br><br>

When you apply for a job with us:<br>
We may request Personal Data about your education, employment and state of health.<br>
As part of your application, you will be asked to provide your express consent to our use of this information to assess your application<br>
and any monitoring activities which may be required of us under applicable laws as an employer.<br>
We may also carry out screening checks (including reference, background and criminal record checks).<br>
We may exchange your Personal Data with academic institutions, recruiters, health maintenance organisations, law enforcement agencies, referees and your previous employers.<br>
Without your Personal Data, we may not be able to process your application for positions with us.<br><br>

We do not collect the information of minors:<br>
If you are under the age of 18, you are not eligible to use the service offered on our digital platform.<br><br>

<b>3. How Do We Retain Personal Data?</b><br>
We retain Personal Data in an identifiable format only for as long as required for our business purposes,<br>
with specific reference to the service rendered to you, and to fulfil our legal or regulatory obligations.<br>
Subject to applicable law, which might, from time to time, oblige us to retain your Personal Data for a certain period of time,<br>
we will retain your Personal Data for as long as necessary to fulfil the purposes we collect it for,<br>
including the purposes of satisfying any legal, accounting, or reporting obligations.<br><br>

<b>4. How Do We Process Personal Data?</b><br>
We collect your personal data to provide you an efficient and secure customer experience.<br>
We may process your Personal Data for the following reasons:<br><br>

Provide services, including to:<br>
Initiate a payment, send or request money, or pay a bill;<br>
Authenticate your access to an account;<br>
Communicate with you about your account;<br><br>

Manage risk, fraud and abuse of our services and prevent you from fraud (by developing and adopting measures of verifying your identity).<br>
Our risk and fraud tools use personal data, device information and geolocation from our Platform<br>
that offers services to help detect and prevent fraud and abuse of the services.<br><br>

Comply with our legal and regulatory obligations and to enforce the terms of our sites and services,<br>
including to comply with all applicable laws and regulations.<br>
Trail information breach and remediate such identified breaches.<br>
Resolve disputes and troubleshoot problems.<br><br>

With your prior consent:<br>
Market Paysita products and services to you.<br>
Use cookies to provide a targeted display, feature, service or offer to you.<br>
To provide you with location-specific functionality like searching nearby agents if you authorize us to access your Geolocation information through the Services.<br>
We will not send unsolicited marketing communications to you by SMS or email if you have not opted in to receive them.<br><br>

Additionally, you can withdraw your consent at any time and free of charge.<br><br>

<b>5. Sharing your Personal Data</b><br>
We may share your Personal Data or other information about you with others for the following reasons:<br><br>

With other entities of the Paysita Group that are subject to the equivalent level of internal control:<br>
We may share your Personal Data with other entities under the Paysita Group as necessary to enable the technical service you request,<br>
to manage risk through risk model system, to prevent potentially illegal and fraudulent acts and violations of our policies and agreements,<br>
and to help us manage the connectivity of our services.<br><br>

With other companies that provide services to us:<br>
We may share Personal Data with third-party service providers that perform services and functions at our direction and on our behalf.<br>
These third-party service providers may, for example, provide you with services, verify your identity, assist in processing transactions,<br>
send you advertisements for our products and services, or provide customer support.<br>
Rest assured that we make double sure that these companies have compliant, legal measures in place to ensure the security and confidentiality of your Personal Data.<br><br>

With unaffiliated third-party service providers that offer functionality through our Platform, with your prior consent, to help complete the service you request.<br><br>

With other financial institutions:<br>
We may share Personal Data with other financial institutions that we have partnered with to only offer Paysita-related services, unless your consent extends to other uses.<br>
We may also share Personal Data to process transactions and keep your financial information up to date.<br><br>

With the other parties to transactions when you use the services, such as other users and their service providers.<br>
This includes other users you are sending or receiving funds from and their service providers.<br>
The information might include:<br>
Personal Data and account information necessary to facilitate the transaction; and<br>
Personal Data to help other participant(s) resolve disputes and detect and prevent fraud.<br><br>

Where permitted or required by law.<br>
We may share information about you with other parties for Paysita business purposes or as permitted or required by law, including:<br>
If we need to do so to comply with a court proceeding, other legal process or an applicable regulation;<br>
To law enforcement authorities or other government officials, or other third parties pursuant to a court order or other legal process or requirement applicable to Paysita or an affiliated entity;<br>
Where we reasonably believe that the disclosure is necessary or appropriate to prevent an imminent physical harm or financial loss, or in connection with an investigation of suspected (or actual) illegal activity;<br>
With credit agencies and data processors for credit reference checks and anti-fraud and compliance purposes – all in accordance to applicable data privacy regulations and laws;<br>
To investigate violations of or enforce a user agreement or other legal terms applicable to any service;<br>
To protect our property, services and legal rights;<br>
As reasonably and legally permitted, to facilitate a purchase or sale of all or part of Paysita’s business, or in the instance of some merger and acquisition;<br>
To support our audit, compliance, and corporate governance functions.<br><br>

With your consent:<br>
We also will share your Personal Data and other information with your consent or direction.<br><br>

<b>6. How We Use Cookies</b><br>
Cookies are small files placed on your device’s browser that enable the website to identify your device as you view different pages.<br>
Like most interactive websites, our website uses cookies to enable us track of your activity for the duration of a session.<br>
Our website uses only encrypted session cookies which are erased either after a predefined timeout period or once the user logs out of the platform and closes the browser.<br>
Session cookies do not collect information from your device.<br>
They will typically store data in the form of a session identification that does not personally identify you.<br>
Certain aspects of our website are only available through the use of cookies, so your use of our website may be limited or not possible if you choose to disable or decline cookies.<br>
If you choose to decline the cookies, you may simply exit our website.<br>
<b>7. What Are Your Rights?</b><br>
<b>Requests to Access, Rectify or Erase.</b><br><br>

<b>Access Request</b><br>
As permitted under law and applicable data privacy regulations, you have the right to ask us whether we hold any Personal Data relating to you and, if we do, to be provided with a copy of that Personal Data in electronic form,<br>
unless you want to receive it in any other way (for example, a paper copy).<br>
In addition, you can ask us for information on how we use your Personal Data, who we share it with, how long we keep it, where it is stored,<br>
and other information to help you understand how we use it.<br><br>

<b>Rectification Request</b><br>
You have the right to ask us to correct your Personal Data (including by means of providing a supplementary statement) if it is inaccurate,<br>
or update outdated or incomplete Personal Data without undue delay.<br>
Where we cannot correct the Personal Data, we include a note on our files regarding your request to correct your Personal Data.<br><br>

<b>Erasure Request</b><br>
You have the right to ask us to erase your Personal Data if:<br>
- Your Personal Data are no longer necessary for the purpose(s) they were collected for.<br>
- Your Personal Data have been unlawfully processed.<br>
- Your Personal Data must be erased to comply with a regulation.<br>
- You withdraw your consent for the processing of the Personal Data (and if this is the only basis on which we are processing your Personal Data).<br>
- You object to the possession, provided there are no overriding legitimate grounds for continued processing, or<br>
- You object to processing for direct marketing purposes.<br><br>

If we receive your erasure request, we will also take reasonable steps to inform other data controllers processing the data<br>
so they can seek to erase links to or copies of your Personal Data.<br>

We may refuse to act on your request to erase your Personal Data if the processing of your Personal Data is necessary:<br>
- To exercise our right of freedom of expression and information.<br>
- To comply with the relevant Nigerian laws and regulations.<br>
- For the performance of a task carried out in the public interest or to exercise some official authority vested in us.<br>
- To establish, exercise or defend legal claims.<br>
- To comply with relevant legal and regulatory directives.<br><br>

In these cases, we can restrict the processing instead of erasing your Personal Data if requested to do so by you.<br><br>

<b>Requests to Object:</b><br>
You have the right to object at any time to the processing of your Personal Data if we process it based on our legitimate interests.<br>
This includes any so-called “profiling”.<br>
Our privacy notice informs you when we rely on legitimate interests to process your Personal Data.<br>
In these cases, we will stop processing your Personal Data unless we can demonstrate compelling legitimate reasons for continuing the processing.<br>
We may reject your request if the processing of your Personal Data is needed to establish, exercise or defend legal claims.<br>
You have the right to object at any time if we process your Personal Data for direct marketing purposes.<br>
You may also object at any time to profiling supporting our direct marketing.<br>
In such cases, we will stop processing your Personal Data when we receive your objection.<br><br>

<b>Requests to Restrict:</b><br>
You have the right to ask us to restrict the processing of your Personal Data if:<br>
- You contest the accuracy of your Personal Data and we are in the process of verifying the Personal Data we hold.<br>
- The processing is unlawful and you do not want us to erase your Personal Data.<br>
- We no longer need your Personal Data for the original purpose(s) of processing, but you need them to establish, exercise or defend legal claims and you do not want us to delete the Personal Data as a result.<br>
- You have objected to processing carried out because of our legitimate interests while we verify if our legitimate grounds override yours.<br><br>

If processing is restricted, we may process your Personal Data (excepting for storage purposes), only:<br>
- If you have given us your consent.<br>
- For establishing, exercising or defending legal claims.<br>
- For protecting the rights of another natural or legal person.<br>
- For reasons of important public interest as defined under the NDPA and relevant Nigerian laws.<br>
- To comply with relevant legal and regulatory directives.<br><br>

Once processing is restricted following your request, we will inform you before we lift the restriction.<br><br>

<b>Requests for Portability:</b><br>
If our processing is performed by computer and is necessary to fulfil a contract with you, or is based on your consent, you have the right to:<br>
- Receive any Personal Data you have provided to us in a structured, commonly used and machine-readable electronic format.<br>
- Send your Personal Data to another organization or have us do so for you if it is technically feasible for us to do so (either for a fee or free).<br>
If your request relates to a set of Personal Data that also concerns other individuals, we may restrict the transfer to only the portion relevant to you,<br>
unless you establish that you have also gotten their consent.<br><br>

<b>Requests to Object to Automated Decisions:</b><br>
Generally, you have the right to object to any legal decision concerning you or which otherwise significantly affects you<br>
if this is based solely on the automated processing of your Personal Data.<br>
This includes automated decisions based on profiling.<br>
In such instance, you may undertake a legal process to prevent or advance your rights.<br><br>

Otherwise, we may refuse your request regarding such automated decisions where:<br>
- Necessary to enter into a contract with you, or for the performance of your contract with us.<br>
- Permitted by regulations.<br>
- Based on your explicit consent.<br><br>

Our actions on the automated processing involving your sensitive Personal Data (where you have given your explicit consent or the processing is necessary for reasons of substantial public interest),<br>
are in complete compliance with the NDPA and relevant laws.<br><br>

<b>8. How Do We Protect Your Personal Data?</b><br><br>

<b>Security</b><br>
We maintain technical, physical, and administrative security measures designed to provide reasonable protection for your Personal Data<br>
against loss, misuse, unauthorized access, disclosure, and alteration.<br>
The security measures include firewalls, data encryption, physical access controls to our premises, CCTV cameras for public safety and quality control,<br>
as well as information access authorization controls.<br><br>

<b>Confidentiality</b><br>
Your Personal Data is regarded as confidential and will not be divulged to any third party, except under legal and/or regulatory conditions.<br>
You have the right to request sight of, and copies of any and all information we keep on you, if such requests are made in compliance with the Freedom of Information Act and other relevant enactments.<br><br>

While we are dedicated to securing our systems and services and safeguarding the information entrusted to us,<br>
your role in fulfilling confidentiality duties includes, but is not limited to, adopting and enforcing appropriate security measures such as:<br>
- securing and maintaining the privacy of your password(s) and account/profile registration information,<br>
- adherence with physical security protocols on our premises,<br>
- verifying that the Personal Data we maintain of you is accurate and current.<br><br>

We will inform you of any breaches which may affect your Personal Data.<br>
<b>9. Remedies for Violation and Time-frame for Remedy</b><br>
In the event of violation of this policy, our Data Protection Officer shall within 7 days redress the violation.<br>
Where the violation pertains to the disclosure of your Personal Data without your consent, such information shall be retracted immediately,<br>
and confirmation of the retraction sent to you within 48 hours of the redress.<br><br>

<b>10. Governing Law</b><br>
This Privacy Policy is made according to the Nigeria Data Protection Act (2023) or any other relevant Nigerian laws, regulations,<br>
or international conventions applicable to Nigeria.<br><br>

<b>11. Changes to our Privacy Policy</b><br>
This privacy policy is reviewed periodically and when there is any substantial change to business or regulatory requirements.<br>
The revised Privacy Policy will be effective as of the published updated date.<br>
At the minimum, we shall review this annually and communicate via our communication channels such as Website, Social Media Accounts etc.<br>
If the revised version includes a substantial change, we may notify you of the change using emails or other means.<br><br>

<b>12. How Does Your Personal Data Move Globally?</b><br>
Our operations are supported by a network of computers, cloud-based services and other infrastructure and information technology.<br>
Your Personal Data will be stored in Nigeria where we are providing Services to you,<br>
except where you provide your consent for your Personal Data to be processed outside Nigeria to enable us process your transactions.<br>
Data are stored with appropriate encryption method and security standards.<br>
We will protect your information as prescribed in the Privacy Policy if your Personal Data is transferred out of Nigeria.<br>
By using our Platform and Services, you consent to your Personal Data being transferred out of Nigeria,<br>
to a jurisdiction which has adequate data protection laws as prescribed in the NDPA.<br><br>

<b>13. Contact Us</b><br>
If you have any general questions or concerns about this Privacy Policy or the way in which we handle your Personal Data,<br>
kindly contact us via the details below:<br><br>

<b>PAYSITA NIGERIA LIMITED</b><br>
5A River Benue Street Maitama Abuja<br>
Email: Support@paysita.com<br>

                    </div>
                </div>
                <!-- Service Details Area -->
            </div>
            <!-- Section Container -->
        </div>
        <!-- Section Space -->
    </section>
    <!-- Service Details Section End -->


{% endblock content %}



{% block footer %}
    {% include "./partials/footer/footer1.html" %}
{% endblock footer %} 